@import "tailwindcss";

@theme {
    --color-dp-0: #060606;
    --color-dp-1: #131313;
    --color-dp-2: #202020;
    --color-fg-primary: #E0E0E0;
    --color-fg-secondary: #898989;
    --color-accent-default: #E0E0E0;
    --color-accent-gray: #333842;
    --color-secondary: #1ED760;
    --color-icon-default: #898989;
}

@layer utilities {
    .template-area-app {
        grid:
            "aside header header" auto
            "aside . ." 1fr
            / minmax(250px, auto) 1fr auto;
    }
    .grid-area-header { grid-area: header; }
    .grid-area-aside { grid-area: aside; }

    .bordered { @apply rounded-xl border-2 border-dp-1; }
    .page-container { @apply h-full rounded-md border-2 border-dp-1 py-3 px-2.5 space-y-6; }
    .page-gaps { @apply py-3 px-2.5; }

    .icon-active-outline  { @apply **:stroke-accent-default }
    .icon-active-full  { @apply **:stroke-accent-default **:fill-accent-default }
    
    .icon-secondary-outline  { @apply **:stroke-secondary }
    .icon-secondary-full  { @apply **:stroke-secondary **:fill-secondary }
}

/* Fluid scaling using clamp */
:root {
    --font-size-default: clamp(1rem, 1rem + 0.3vw, 1.125rem);
    --font-size-medium: clamp(1.1rem, 1.1rem + 0.3vw, 1.2rem);
    --font-size-large: clamp(1.25rem, 1.25rem + 0.5vw, 1.75rem);
    --font-size-massive: clamp(1.75rem, 1.75rem + 1vw, 2.5rem);
}

/* Attribute-based selectors */
*[data-font-size="default"] {
    font-size: var(--font-size-default);
}

*[data-font-size="medium"] {
    font-size: var(--font-size-medium);
}

*[data-font-size="large"] {
    font-size: var(--font-size-large);
}

*[data-font-size="massive"] {
    font-size: var(--font-size-massive);
}

/* Global Scrollbar */
* {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: var(--color-fg-secondary) transparent;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-fg-secondary);
    border: 2px solid transparent;
}

/* hide-scrollbar */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none; /* Firefox */
}

/* Creates layering effect */
.tile-folder-effect {
    --_offset: .3rem;
    width: 100%;

    & > div {
        @apply rounded-t-xl;
        margin-inline: auto;
        height: var(--_offset);
    }
    
    & > div:nth-child(1) { width: 80%; }
    & > div:nth-child(2) { width: 90%; }
}

/* Global: Images */
img {
    user-select: none;
    -webkit-user-drag: none;
}

/* Swiper Pagination Bullets */
.swiper-pagination-bullet {
    background: var(--color-dp-2) !important;
    transition: all ease-in-out 200ms !important;
    width: 2dvw !important;
    border-radius: var(--radius-lg) !important;
}

.swiper-pagination-bullet-active {
    background: var(--color-secondary) !important;
}